<%= render :partial => "mobile_menu_bar" %>
<div class="mob_container">
  <div class="row">
    <div class="col-xs-11 contact_col">
      <div class="contact_card">
        <!--<p>-->
          <!--Ptotem is a game development firm that uses gaming design and technology to solve real world-->
          <!--business-->
          <!--challenges. A pioneer of Serious Games in India, we create games to power your learning,-->
          <!--marketing and-->
          <!--research initiatives.-->
          <!--<br/><br/>-->
          <!--Ptotem was started in 2010 by senior industry professionals from the fields of Business,-->
          <!--Instructional-->
          <!--Design, HR Management and Psychology. Over the last three years, we have developed and-->
          <!--demonstrated-->
          <!--expertise along the three key vectors of serious gaming - technology, design and gaming itself.-->
          <!--With-->
          <!--international board games, design awards and a marquee clientele underpinning our credibility-->
          <!--today, we-->
          <!--are now gearing up to play the game the way it was meant to be played - big.-->
          <!--<br/><br/>-->
          <!--So keep watching this space for more. The game has only just begun…-->
        <!--</p>-->
        <%= simple_format(@company.description) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11 contact_col">
      <div class="contact_card">
        <p>Ptotem Learning Projects LLP,<br>A332, Antop Hill Warehousing,<br>Barkat Ali Road,Wadala (East),<br>Mumbai,India - 400035 <br><br> Contact Number: +91 9833939793<br>Email: info@ptotem.com</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="contact_connect">
        <a href="https://www.facebook.com/ptotembook" target="_blank"><img src="/assets/images/mobfacebook.png"></a>
        <a href="http://www.linkedin.com/company/ptotem-learning-projects" target="_blank"><img src="/assets/images/moblinkedin.png"></a>
        <a href="https://twitter.com/ptotemlearning" target="_blank"><img src="/assets/images/mobtwitter.png"></a>
      </div>
    </div>
  </div>

</div>

