<%= render :partial => "mobile_menu_bar" %>
<div class="mob_container">
  <div class="row">
    <div class="col-xs-11 contact_col">
      <div class="contact_card">
        <%= simple_format(@company.description) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11 contact_col">
      <div class="contact_card">
        <p>Ptotem Learning Projects LLP,<br>A332, Antop Hill Warehousing,<br>Barkat Ali Road,Wadala (East),<br>Mumbai,India - 400035 <br><br> Contact Number: +91 9833939793<br>Email: info@ptotem.com</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div id="contact_connect">
        <a href="https://www.facebook.com/ptotembook" target="_blank"><img src="/assets/images/mobfacebook.png"></a>
        <a href="http://www.linkedin.com/company/ptotem-learning-projects" target="_blank"><img src="/assets/images/moblinkedin.png"></a>
        <a href="https://twitter.com/ptotemlearning" target="_blank"><img src="/assets/images/mobtwitter.png"></a>
      </div>
    </div>
  </div>

</div>

