


<%= render :partial => "mobile_menu_bar" %>

<div class="swiper-container swiper-content">
  <div class="swiper-wrapper" style="background-image: url('assets/images/background.jpg')">
    <% @company.products.each do |product| %>
        <div class="swiper-slide">
          <div class="inner">
            <img class="movie-pic_product" src="<%= product.avatar %>" height="150" width="150" alt="">
            <div class="clearfix"></div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="swiper-container swiper-nav">
  <div class="swiper-wrapper">
    <% @company.products.each_with_index do |product, index| %>
        <% if index >= 1 %>
            <div class="swiper-slide">
              <span class="angle"></span>
              <img src="<%= product.avatar %>" alt="">
            </div>
        <% else %>
            <div class="swiper-slide active-nav">
              <span class="angle"></span>
              <img src="<%= product.avatar %>" alt="">
            </div>
        <% end %>
    <% end %>

  </div>
</div>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/idangerous.swiper-2.0.min.js"></script>
<script src="assets/js/movies-app.js"></script>
<script>
    $(function(){
        $('.navbar-brand').css('float','none');
    })
</script>
</body>
</html>